body
{
	background-color: #333;

	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.PagePane
{
	transition: transform 0.5s;
	position: absolute;

	width: 100%;
	height: 100%;
}

#EntireCodeView
{
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#EntireInfoView
{
	margin: 0px;
	top: 0px;
	width: 25%;
	height: 100%;
	overflow: hidden;
}

#InfoBox
{
	color: #CCC;
	background-color: #444;
	margin: 0px;
	top: 0px;
	width: calc(100% - 25px);
	height: 100%;

}

#TabButton
{
	position: absolute;
	top: calc(50%);
	right: -0px;
}

#TopSection
{
	height: 19%;
	color: #CCC;
	padding: 10px;
	height: 100px;
}

#TaskTitle
{
	font-weight: bolder;
	font-size: 18pt;
}

#TaskDescription
{
	padding-top: 8px;
	font-size: 14pt;
}

#OperatorsArea
{
	height: 150px;
	width:100%;
	position: relative;
}
.Operator
{
	width: 15%;
	height: 70%;
	position: absolute;
	background-color: #999;
	top: 15%;
	text-align: center;
}
.OperatorSymbol
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: #555;
	font-size: 48pt;
	font-family: monospace;
}
#PlusOp
{
	left: 5%;
}
#MinusOp
{
	left: 30%;
}
#MultOp
{
	left: 55%;
}
#DivOp
{
	left: 80%;
}
#Visualizer
{
	overflow: hidden;
	//width: 60%;
	//height: 80%;
	height: 800px;
	border: 1px solid #666;
  box-sizing: border-box;
	position: absolute;
	left: 810px;
	width: calc(100% - 815px);

	background-color: #444;
}

#CodeArea
{
	position: absolute;
	width: 800px;
	height: 800px;
}
.ExecutionButtonContainer
{
	position: absolute;
	//bottom: 40px;
	top: calc(100% - 100px);
	width: 50px;
	text-align: center;
	overflow: visible;
	//background-color: #00F;
}
.ExecutionButton
{
	width: 50px;
	height: 50px;
	/* the button itself */
}
.ExecutionButtonImage
{
	width: 100%;
	height: 100%;
}
.ExecutionButtonHint
{
	//display: flex;
	padding-top: 8px;
	text-align: center;
	position: relative;
}
.ExecutionButtonHintText
{
	white-space: nowrap;
	text-align: center;
	//display: inline-block;
	width: 800%;
	position: absolute;
	left: -350%;
	text-anchor: middle;
	//start: right;
	color: #CCC;
	font-weight: bold;
	opacity: 0;
	transition: opacity 0.2s;
}
 .ExecutionButtonContainer:hover .ExecutionButtonHintText
{
	//background-color: #F00;
	opacity: 1;
}
